<div class="container">
            <img src="assets/fotoriki1.jpg" width="100%">
            <div class="container">
                <div class="espacio">
                    <div class="newspaper">
                        <p>
                                    El Grupo REDG fue fundada en el año 2016 por el Lic. Ricardo
                                    Emilio Diaz Guzman con su sede original en la ciudad de Santo Domingo. 
                                    Desde sus inicios, el despacho se dedicó a brindar servicios legales de forma 
                                    honorable y de calidad en materias como derecho civil, comercial, inmobiliario, 
                                    laboral y algunos aspectos penales. Con el transcurso de los años, El Grupo REDG
                                    ha ampliado su gama de servicios gracias a la integración de
                                    miembros especializados.
                                    Actualmente brindamos servicios de planificación patrimonial, litigios, derecho
                                    civil, comercial y empresarial, tributario, inmobiliario, migratorio,
                                    laboral y propiedad intelectual.
                                    Nuestro equipo está compuesto por profesionales comprometidos en crear un ambiente
                                    de seguridad y confianza, con la finalidad de brindar un servicio personalizado, 
                                    íntegro y eficiente para los clientes.
                        </p>
                    </div>
                </div>
            </div>
</div>
<div class="espacio3">

</div>