<div class="espacio">
        <div class="container">
          <form action="/action_page.php">
            <label for="fname">Nombre</label>
            <input type="text" id="fname" name="name" placeholder="Su Nombre..">

            <label for="lname">Email</label>
            <input type="text" id="lname" name="mail" placeholder="Su Email..">

            <label for="subject">Mensaje</label>
            <textarea id="subject" name="mensaje" placeholder="Su Mensaje.." style="height:200px"></textarea>

            <input type="submit" value="Enviar">
          </form>
        </div>
</div>
<div class="espacio3">

</div>
