
<div class="container">
<app-slide></app-slide>
</div>
<div class="espacio">

</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="assets/fotoriki2.jpg" width="100%">
        </div>
        <div class="col">
            <div class="espacio2">
                <h1> Ricardo Diaz </h1>
                <h2> Director </h2>
                <div class="espacio"></div>
                <p>
                    "Contamos con un talentoso grupo de abogados dedicados a satisfacer las necesidades 
                    de sus clientes mediante el trabajo en equipo."
                </p>
        </div>
        </div>
    </div>
</div>
<div class="espacio3">

</div>
