

<div class="container">
    <div class="espacio">
<h2>ÁREAS DE PRÁCTICA</h2>
<table>
    <tr>
        <th>Derecho Penal</th>
    </tr>
    <tr>
        <td>La Oficina Ricardo Diaz representa tanto a personas como a sociedades en 
            todos los aspectos relativos al Código Penal Dominicano. Los criminalistas de la
            Oficina se dedican a esta área de ejercicio profesional con un alto grado de 
            especialización y experiencia.
        </td>
    </tr>
    <tr>
        <td>Derecho Civíl</td>
    </tr>
    <tr>
        <td>El Derecho Civil constituye el eje central de las relaciones jurídicas, tanto para 
            los particulares en su esfera privada como para las sociedades en el desarrollo de 
            sus negocios. El Derecho Civil regula una parte esencial de los derechos y obligaciones
            de las partes.

            En ese sentido, la Oficina Ricardo Diaz maneja todos los aspectos relacionados
            con esta área, incluyendo la elaboración de contratos civiles, representación en defensa
            de sus derechos patrimoniales, derechos personales, recuperación de deudas por vía
            jurisdiccional, negociación de acuerdos transaccionales, procesos civiles, de 
            responsabilidad por daños y perjuicios, sucesiones, adopciones, divorcios, guarda,
            manutención, acuerdos prematrimoniales y post matrimoniales, acuerdos de separación
            y acciones para anulaciones y divorcios, organizaciones patrimoniales; embargos y 
            ejecuciones.
        </td>
    </tr>
    <tr>
        <td>Derecho laboral</td>
    </tr>
    <tr>
        <td>La oficina asiste a sus clientes nacionales e internacionales en todos los ámbitos 
            relativos al Derecho Laboral, representándolos en las controversias que puedan surgir 
            con respecto a negociaciones de contratos de trabajo, discriminación en el empleo, 
            acuerdos de no competencia y de confidencialidad, seguridad ocupacional, lesiones y 
            asuntos de salud, políticas de personal, manuales y contratos de trabajo, asuntos de 
            salario por hora, problemas laborales relativos a ventas, adquisiciones y fusiones,
            reducciones en la fuerza laboral y prestaciones laborales.
        </td>
    </tr>
    <tr>
        <td>Bienes Raices</td>
    </tr>
    <tr>
        <td>La Oficina Ricardo Diaz brinda asesoría en la estructuración, negociación e
            implementación de una variada gama de operaciones relacionadas con bienes inmuebles.
            Además ha representado a prestamistas y urbanizadores internacionales, así como a 
            compradores, vendedores y administradores de inmuebles comerciales y residenciales, 
            al igual que en materia de condominios, urbanizaciones y zonificación.
        </td>
    </tr>
</table>
</div>
</div>
<div class="espacio3">

</div>

